html, body {
    padding: 70px0;
    margin: 0;
    height: 100%;
    min-height: 100%;
    overflow: visible;
}

div {
    width: 50%;
    height: 50%;
    border: 1px solid black;
    margin: 0px -1px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}
